<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
    <meta charset="UTF-8">
    <title>mikroserwis</title>

</head>

<body>
<div class="user_recommendation">
    <h1>Recommendation for user with given id</h1>

    <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict_user')}}" method="post">
        <input type="text" name="user_id" placeholder="Input user id here..."
               required="required"/>

        <button type="submit">Predict</button>
    </form>
    <br><br>
</div>
<div class="product_recommendation">
    <h1>Recommendation based on viewed products.</h1>
    <form action="{{ url_for('predict_from_products')}}" method="post">
        <select multiple name=choices method="post" action="/">
            {% for choice in choices %}
            <option value="{{choice}}" selected>{{choice}}</option>
            {% endfor %}
        </select>
        <button type="submit">Predict</button>

    </form>
</div>

<br>
<br>
{% for prediction in prediction_text %}
{{prediction}}
<br>
{% endfor %}

</body>
</html>